target/

### IntelliJ IDEA ###
.idea
*.iml

/app/src/main/resources/static/bower_components/
/external_resources/node/
/external_resources/bower_components/
/external_resources/node_modules/
/external_resources/package-lock.json
app/src/main/resources/static/icons/
app/src/test/java/com/rozenkow/SampleTest.java
